<html>
<head>
<title>OGA Round Britain Challenge</title>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
 <![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<style type="text/css">
#map { height: 640px; }
</style>
</head>
<body>
<table width="100%">
<tr><td><img src="/map/static/map/oga50.jpg" height="80" width="80"/><span style="font-size: 150%; font-weight: bold">OGA Round Britain Challenge</span></td>
<td align="right"><a href="http://www.trackaphone.com" target="_blank"><img src="http://trackaphone.co.uk/callback/publish/rbc/images/trackaphone.png" width="108" height="87" border="0" /></a></td>
</tr>
</table>
The Round Britain Challenge aims to get as many OGA boats as possible sailing all round the British coast.
<div id="map"></div>
<table>
<tr><td><img src="/map/static/map/gaffer-blue.png"></td><td>Powered by <a href="http://www.trackaphone.com" target="_blank">TrackaPhone</a></td></tr>
<tr><td><img src="/map/static/map/gaffer-orange.png"></td><td>Additional data by <a href="http://marinetraffic.com" target="_blank"><img src="/map/static/map/mt-on-white-small.png" height="24" border="0"/></a></td>
<tr><td><img src="/map/static/map/gaffer-green.png"></td><td>Manual data entry</td></tr>
</table>
</body>
<script type="text/javascript">
 //<![CDATA[
{% load staticfiles %}
var tkIcon = L.icon({
    iconUrl: '/map/static/map/token.png',
    shadowUrl: '/map/static/map/shadow-gaffer.png',

    iconSize:     [32, 37], // size of the icon
    shadowSize:   [51, 37], // size of the shadow
    iconAnchor:   [16, 34], // point of the icon which will correspond to marker's location
    shadowAnchor: [16, 34],  // the same for the shadow
    popupAnchor:  [16, 18] // point from which the popup should open relative to the iconAnchor
});

var tpIcon = L.icon({
    iconUrl: '/map/static/map/gaffer-blue.png',
    shadowUrl: '/map/static/map/shadow-gaffer.png',

    iconSize:     [32, 37], // size of the icon
    shadowSize:   [51, 37], // size of the shadow
    iconAnchor:   [16, 34], // point of the icon which will correspond to marker's location
    shadowAnchor: [16, 34],  // the same for the shadow
    popupAnchor:  [16, 18] // point from which the popup should open relative to the iconAnchor
});

var mtIcon = L.icon({
    iconUrl: '/map/static/map/gaffer-orange.png',
    shadowUrl: '/map/static/map/shadow-gaffer.png',

    iconSize:     [32, 37], // size of the icon
    shadowSize:   [51, 37], // size of the shadow
    iconAnchor:   [16, 34], // point of the icon which will correspond to marker's location
    shadowAnchor: [16, 34],  // the same for the shadow
    popupAnchor:  [16, 18] // point from which the popup should open relative to the iconAnchor
});

var manualIcon = L.icon({
    iconUrl: '/map/static/map/gaffer-green.png',
    shadowUrl: '/map/static/map/shadow-gaffer.png',

    iconSize:     [32, 37], // size of the icon
    shadowSize:   [51, 37], // size of the shadow
    iconAnchor:   [16, 34], // point of the icon which will correspond to marker's location
    shadowAnchor: [16, 34],  // the same for the shadow
    popupAnchor:  [16, 18] // point from which the popup should open relative to the iconAnchor
});

var map = L.map('map').setView([53.0, 0.0], 6);
var url = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png';
var subDomains = ['otile1','otile2','otile3','otile4'];
var attrib = 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
var tiles = new L.TileLayer(url, {maxZoom: 18, attribution: attrib, subdomains: subDomains});
tiles.addTo(map);
var marker;
{% for boat in boats %}
marker = L.marker([{{boat.lat}}, {{boat.lng}}], { icon: {{boat.pin}}, title: '{{boat.name}}' }).addTo(map);
  {% if boat.popup %}
    marker.bindPopup("{{boat.popup|safe}}")
  {% endif %}
{% endfor %}
 //]]>
</script>
</html>
