<html>
<head>
<title>OGA Round Britain Challenge</title>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
 <![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
<style type="text/css">
#map { width: 500px; height: 640px; }
</style>
</head>
<body>
<table>
<tr><td><h1>OGA Round Britain Challenge</h1></td><td><a href="http://www.trackaphone.com" target="_blank"><img src="http://trackaphone.co.uk/callback/publish/rbc/images/trackaphone.png" width="108" height="87" border="0" /></a></td></tr>
</table>
The Round Britain Challenge aims to get as many OGA boats as possible sailing all round the British coast.
<div id="map"></div>
<div>Powered by <a href="http://www.trackaphone.com" target="_blank">TrackaPhone</a></div><div>additional data by marinetraffic.com</div>
</body>
<script type="text/javascript">
 //<![CDATA[
var map = L.map('map').setView([54.505, -0.09], 6);
var url = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png';
var subDomains = ['otile1','otile2','otile3','otile4'];
var attrib = 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
var tiles = new L.TileLayer(url, {maxZoom: 18, attribution: attrib, subdomains: subDomains});
tiles.addTo(map);
var marker;
var detail;
{% for boat in local_db.all %}
marker = L.marker([{{boat.lat}}, {{boat.lng}}], { title: '{{boat.name}}' }).addTo(map);
detail = '{{boat.popup}}';
if(detail != '')
    marker.bindPopup(detail);
{% endfor %}
{% for boat in trackaphone %}
marker = L.marker([{{boat.lat}}, {{boat.lng}}], { title: '{{boat.name}}' }).addTo(map);
  if('{{boat.image}}'!='')
    marker.bindPopup("<b>{{boat.name}}</b><br/><img src='{{boat.image}}'/>")
{% endfor %}
 //]]>
</script>
</html>
